// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
#main {
  text-align: left;
  @include flex-wrap(wrap, center);
  .main-intro {
    @include flex-wrap(wrap, center);
    h1 {
      text-align: left;
    }
    figure {
      width: 10em;
      height: 10em;
      img {
        width: 100%;
        max-height: 100%;
        object-fit: cover;
        object-position: 0em 0em;
        border-radius: 100%;
      }
    }
    div {
      max-width: 50%;
      margin-bottom: 5em;
    }
  }
  .main-competences {
    @include flex-wrap(wrap, space-between);
    gap: 6em;
    div {
      margin: auto;
      text-align: center;
      &:hover {
        transform: scale(102%);
        color: $primary-color;
      }
      i {
        font-size: 4em;
      }
    }
  }
}

#skills {
  article {
    width: 250em;
    height: 15em;
    margin: auto;
    padding: 2em 5em;
    box-shadow: 3px 3px 5px 0px rgb(0 0 0 / 16%);
    border-radius: 1em;
    width: 65%;
    &:nth-child(2) {
      h3 {
        color: $primary-color;
      }
    }
    &:nth-child(3) {
      h3 {
        color: $secondary-color;
      }
    }
    &:nth-child(4) {
      h3 {
        color: $tertiary-color;
      }
    }
    &:nth-child(5) {
      h3 {
        color: $fourth-color;
      }
    }
    &:nth-child(6) {
      h3 {
        color: $fifth-color;
      }
    }
    ul {
      @include flex-wrap(wrap, flex-start);
      li {
        width: 50%;
      }
    }
  }
}

#experience {
  article {
    margin: auto;
    margin-top: 2em;
    padding: 2em 5em;
    box-shadow: 3px 3px 5px 0px rgb(0 0 0 / 16%);
    border-radius: 1em;
    width: 65%;
    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(7),
    &:nth-child(8) {
      h3 {
        color: $primary-color;
      }
    }
    &:nth-child(4),
    &:nth-child(5),
    &:nth-child(6) {
      h3 {
        color: $secondary-color;
      }
    }
    @include flex-wrap(wrap, flex-start);
    figure {
      width: 3em;
      height: 3em;
      img {
        width: 100%;
      }
    }
  }
}

.project-section {
  @include flex-wrap(wrap, center);
  margin-top: 1em;
  div {
    margin: 1em 0em;
    transition: 0.2s ease-in-out;
    & > div {
      margin-left: 3em;
      a {
        margin-left: 0;
      }
    }
    figure {
      width: 35em;
      height: 17em;
      filter: grayscale(90%);
      transition: 0.2s ease-in-out;
      &:hover {
        transform: scale(102%);
      }
      img {
        width: 100%;
        margin: auto;
        max-height: 100%;
        border-radius: 0.3em;
      }
    }
  }
}

.contact-section {
  @include flex-wrap(wrap, center);
  gap: 10em;
  text-align: center;
  padding: 3em 0em;
  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    figure {
      width: 5em;
      img {
        width: 100%;
      }
    }
  }
}

.social-bar {
  ul {
    position: fixed;
    width: 10em;
    bottom: -1em;
    left: -3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 50;
    li {
      list-style-type: none;
      padding: 0.5em 0em;
      img {
        width: 2em;
        &:hover {
          transform: scale(103%);
        }
      }
    }
  }
}

.social-line {
  height: 10em;
  width: 0.2em;
  background-color: $primary-color;
}
