// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
// -----------------------------------------------------------------------------
// NAV BAR - RESPONSIVE
// -----------------------------------------------------------------------------

nav {
  padding: 0.1em 1.2em;
  margin: 0em -2em;
  z-index: 99;
  top: 0;
  color: $text-color;
  @include media(mobile) {
    position: sticky;
    background: $background-color;
  }
  @include media(tablet) {
    margin: 0em 2em;
  }
  a {
    color: $text-color;
    text-decoration: none;
  }
}


.menu {
  background: $background-color;
  list-style-type: none;
  @include flex-wrap(wrap, space-between, center);
  // align-items: center;
  @include media(tablet) {
    justify-content: center;
    font-size: 1.2em;
  }
  li a {
    display: block;
    text-decoration: none;
    &:hover {
      color: $primary-color;
    }
    img {
      width: 7em;
      @include media(desktop) {
        width: 2em;
      }
    }
  }
}

.toggle {
  order: 1;
  font-size: 2em;
  margin-left: -1.3em;
  i {
    color: $primary-color;
  }
  @include media(tablet) {
    flex: 1;
    text-align: right;
    order: 1;
  }
  @include media(desktop) {
    display: none;
  }
}

.logo {
  padding: 0em;
  @include media(mobile) {
    display: none;
  }
  @include media(tablet) {
    flex: 1;
    &:hover {
      color: $primary-color;
    }
  }
}

.item {
  padding: 1em;
  order: 2;
  text-align: left;
  display: none;
  width: 100%;
  border-bottom: 0.01em solid $primary-color;
  @include media(desktop) {
    width: auto;
    display: block;
    position: relative;
    margin: auto;
    border: none;
  }
}

.active .item {
  display: block;
}

ul.menu.active {
  padding-left: -3em;
}
