/**
 * Basic typography style for copy text
 */
 body {
  color: $text-color;
  font: normal 100% / 1.4em $text-font-stack;
}

h1, h2 {
  font-family: $heading-font-stack;
  color: $heading-color;
  line-height: 1.2;
  text-align: center;
  margin: 0.5em 0em;
}

h3, h4 {
  @extend h1, h2;
  text-align: left;
}

h1 {
  @include headingstyle(bold, h1);
  @include media(mobile) {
    font-size: map-get($map: $fontsizes, $key: h1) * 0.8;
  }
}

h2 {
  @include headingstyle(bold, h2);
  @include media(mobile) {
    font-size: map-get($map: $fontsizes, $key: h2) * 0.8;
  }
}

h3 {
  @include headingstyle(bold, h3);
  @include media(mobile) {
    font-size: map-get($map: $fontsizes, $key: h3) * 0.8;
  }
}

h4 {
  @include headingstyle(normal, h4);
  @include media(mobile) {
    font-size: map-get($map: $fontsizes, $key: h4) * 0.8;
  }
}

h5 {
  @include headingstyle(light, h5);
}

h5 {
  margin: -0.5em 0em 0.5em 0em;
}

p {
  margin: 0.5em 0em;
  @include headingstyle(normal, p)
}

.bold {
  font-weight: map-get($map: $fontweights, $key: extra-bold);
}
